*.o
Makefile
autom4te.cache
config.h
config.log
config.status
doc/mxml.d
libmxml.1.dylib
libmxml.a
libmxml.dylib
libmxml.sl
libmxml.sl.1
libmxml.so
libmxml.so.1
libmxml.so.1.5
mxml.epub
mxml.pc
mxml.xml
mxmldoc
mxmldoc-static
org.msweet.mxml.atom
org.msweet.mxml.docset
org.msweet.mxml.xar
temp1.xmlfd
test.xmlfd
testmxml
test1.xml
xcode/mxml.xcodeproj/project.xcworkspace
xcode/mxml.xcodeproj/xcuserdata
