*.o
/Makefile
/autom4te.cache
/config.h
/config.log
/config.status
/libmxml.2.dylib
/libmxml.a
/libmxml.dylib
/libmxml.so
/libmxml.so.2
/libmxml4.2.dylib
/libmxml4.a
/libmxml4.dylib
/libmxml4.so
/libmxml4.so.2
/mxml4.pc
/mxml4.dll
/scratch
/testmxml
/vcnet/.vs
/vcnet/Debug
/vcnet/Release
/vcnet/packages
/xcode/mxml.xcodeproj/project.xcworkspace
/xcode/mxml.xcodeproj/xcuserdata

# IDE
.vscode/

# CMake
build/
CMakeUserPresets.json
