*.o
Makefile
autom4te.cache
config.h
config.log
config.status
doc/mxml.d
doc/mxml.man
libmxml.1.dylib
libmxml.a
libmxml.dylib
libmxml.so
libmxml.so.1
mxml.list
mxml.pc
mxmldoc
mxmldoc-static
org.minixml.atom
org.minixml.docset
org.minixml.xar
temp1.xmlfd
testmxml
